<div class="usuario">
  <h1>Login de Usuario</h1>
  <form class="flexCol " action="/" method="POST">
    <label for="userName">Usuario</label>
    <input type="text" required name="userName" placeholder="Juan Perez">
    <label for="password">Contraseña</label>
    <input type="password" name="password" placeholder="1234" required>
    <button>Enviar</button>
  </form>
</div>

